﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>@ViewData["Title"] - ABC E-Portfolio</title>
    <!-- Reference to Bootstrap CSS, JavaScript/JQuery files -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Reference to customized styling for this website -->
    <link rel="stylesheet" type="text/css" href="~/css/Site.css">
</head>
<body>
    <!-- Bootstrap container, centralise the container between margins -->
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-sm-12">
                    @{ if (Context.Session.GetString("Role") == "Student")
                        {
                            @await Html.PartialAsync("_StudentMenu.cshtml")
                        }
                    }
                </div>
            </div>
            <div class="col-sm-12">
                <p style="padding:2px 15px;">
                    @{
                        string userId = "Anonymous";
                        string userRole = "Unknown";
                        string datetime = Context.Session.GetString("DateTime");
                        if (Context.Session.GetString("Role") != null)
                        {
                            userRole = Context.Session.GetString("Role");
                        }
                        if (Context.Session.GetString("LoginID") != null)
                        {
                            userId = Context.Session.GetString("LoginID");
                        }
                    }
                    Welcome,&nbsp;
                    <span style="font-weight:bold">@userId</span>&nbsp;
                    (Role: @userRole).&nbsp;
                    You have logged in since @datetime
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                @RenderBody()
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" style="text-align: right">
                <hr />
                <footer>
                    <p style="padding-right:10px;">
                        ABC E-Portfolio - &copy;@DateTime.Today.Year
                        School of ICT, (A)ssociation of (B)usiness (C)lasses Polytechnic
                    </p>
                </footer>
            </div>
        </div>
    </div>
</body>
</html>
