﻿@model IEnumerable<Assignment_1.Models.Project>

<head>
</head>

@if (Model.ToList().Count > 0)
{
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-sm-12 col-md-4 d-flex align-items-stretch">
                    <div class="card" style="max-width:100%; margin-top:10%;">
                        <img src="~/images/Projects/@item.ProjectPoster" class="mx-auto d-block" style="max-width:100%; margin-top:2%" />
                        <div class="card-body">
                            <h5 class="mw-100 text-center" style="font-size:150%">@item.Title</h5>
                            <p class="card-subtitle text-muted text-truncate" style="font-size:130%">@item.Description</p>
                            <p></p>
                            <a href="@item.ProjectURL" target="_blank" class="card-text text-right" style="font-size:90%">@item.ProjectURL</a>
                            <p class="card-text text-right" style="font-size:90%">Project ID: @item.ProjectID.ToString()</p>
                            <div class="text-center">
                                <a asp-action="Details" asp-controller="Project" asp-route-id="@item.ProjectID"><div href="#" class="btn btn-success my-1" style="font-size:80%;">ABOUT</div></a>
                                <a asp-action="Edit" asp-controller="Project" asp-route-id="@item.ProjectID"><div href="#" class="btn btn-outline-primary my-1" style="font-size:80%">Edit</div></a>
                                <a asp-action="Delete" asp-controller="Project" asp-route-id="@item.ProjectID"><div href="#" class="btn btn-outline-danger my-1" style="font-size:80%">Delete</div></a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
else
{
    <span style="color:red">No record found!</span>
}
