﻿@model IEnumerable<Assignment_1.Models.ProjectEdit>

@if (Model.ToList().Count > 0)
{
    @foreach (var item in Model)
    {
    <tr>
        <td>@item.MemberName</td>
        <td>@item.MemberRole</td>
    </tr>
    <br />
    }
}
else
{
    <span style="color:red">No record found!</span>
}