﻿@model Assignment_1.Models.Project

@{
    Layout = "~/Views/Project/_ProjectLayout.cshtml";
}

<h4 class="PageTitle">Delete Project</h4>
<hr />
<form asp-action="Delete">
    <fieldset class="FormContent">
        <legend>Are you sure to delete this record?</legend>
        <div class="form-group row">
            <label asp-for="ProjectID" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="ProjectID" readonly class="form-control-plaintext" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Title" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <div class="col-sm-9 form-control-plaintext">@Html.Display("Title")</div>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Description" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <div class="col-sm-9 form-control-plaintext">@Html.Display("Description")</div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-9 offset-sm-3">
                <input type="submit" value="Delete" class="btn btn-primary" />
            </div>
        </div>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </fieldset>
</form>