﻿@model Assignment_1.Models.ProjectViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Project/_ProjectLayout.cshtml";
}

<h4 class="PageTitle">View Staff Details</h4>
<hr />
<fieldset class="FormContent">
    <div class="form-group row">
        <label asp-for="ProjectID" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9 form-control-plaintext"> @Html.Display("ProjectID")</div>
    </div>
    <div class="form-group row">
        <label asp-for="Title" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9 form-control-plaintext"> @Html.Display("Title")</div>
    </div>
    <div class="form-group row">
        <label asp-for="ProjectPoster" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <img src="~/images/Projects/@Model.ProjectPoster" style="width:15vw"/>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Description" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9 form-control-plaintext"> @Html.Display("Description")</div>
    </div>
    <div class="form-group row">
        <label asp-for="ProjectURL" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9 form-control-plaintext"> @Html.Display("ProjectURL") </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-9 offset-sm-3">
            <a asp-action="Index" asp-controller="Project" asp-route-id="@Model.ProjectID"><div href="#" class="btn btn my-1" style="font-size:80%">Back to List</div></a>
            <a asp-action="Edit" asp-controller="Project" asp-route-id="@Model.ProjectID"><div href="#" class="btn btn-outline-primary my-1" style="font-size:80%">Edit</div></a>
            <a asp-action="Delete" asp-controller="Project" asp-route-id="@Model.ProjectID"><div href="#" class="btn btn-outline-danger my-1" style="font-size:80%">Delete</div></a>
        </div>
    </div>
</fieldset>