﻿@model Assignment_1.Models.ProjectEdit

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Project/_ProjectLayout.cshtml";
}

<h4 class="PageTitle">Edit Project</h4>
<hr />
<form asp-action="Edit">
    <fieldset class="FormContent">
        <div class="form-group row">
            <label asp-for="ProjectID" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="ProjectID" readonly class="form-control-plaintext" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Title" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="Title" class="form-control" id="title" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Description" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="Description" class="form-control" id="description" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="ProjectURL" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="ProjectURL" class="form-control" id="description" />
                <span asp-validation-for="ProjectURL" class="text-danger"></span>
            </div>
        </div>
        <a asp-action="AddMember" asp-controller="Project" asp-route-id="@Model.ProjectID">Add Member</a>
        <div class="table-responsive">
            <table id="viewBranch" class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Name</th>
                        <th>Role</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.memberList)
                    {
                        <tr>
                            <td>@item.MemberName.ToString()</td>
                            <td>@item.MemberRole.ToString()</td>
                            <td><a asp-action="RemoveMember" asp-controller="Project" asp-route-id="@item.MemberId">Delete</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="form-group row col-sm-9 offset-sm-3">
            <a asp-action="UploadPhoto" asp-route-id="@Model.ProjectID">Upload Photo</a>
        </div>
        <div class="form-group row col-sm-9 offset-sm-3">
            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>
        <div>
            <a asp-action="Index">Back to Profile</a>
        </div>
    </fieldset>
</form>