﻿@model IEnumerable<Assignment_1.Models.Project>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Project/_ProjectLayout.cshtml";
}

<p><a asp-action="Create">Create New Project</a></p>
<partial name="~/Views/Project/_ViewProject.cshtml" model="@Model" />
