﻿@model Assignment_1.Models.ProjectViewModel

@{
    ViewData["Title"] = "Upload Photo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="PageTitle">Upload Staff Photo</h4>
<hr />
<form asp-action="UploadPhoto" enctype="multipart/form-data">
    <fieldset class="FormContent">
        <div class="form-group row">
            <label asp-for="ProjectID" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="ProjectID" readonly class="form-control-plaintext" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Title" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="Title" readonly class="form-control-plaintext" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="ProjectPoster" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9"> <img src="~/images/Projects/@Model.ProjectPoster" style="width:15vw"/></div>
        </div>
        <div class="form-group row">
            <label asp-for="FileToUpload" class="col-sm-3 col-form-label"> New Photo (jpg format)</label>
            <div class="col-sm-9">
                <input asp-for="FileToUpload" accept="image/jpeg" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-9 offset-sm-3">
                <input type="submit" value="Upload" class="btn btn-primary" />
                <span style="color:red;">@ViewData["Message"]</span>
            </div>
        </div>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </fieldset>
</form>