﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Student</title>

    <meta name="description" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel='stylesheet' href='~/css/main.css'>

    <link rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">

    <link rel='stylesheet' href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/flatly/bootstrap.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>
<body>
    <main>
        @{ if (Context.Session.GetString("Role") == "Lecturer")
            {
                @await Html.PartialAsync("_LecturerMenu.cshtml")
            }
            else if (Context.Session.GetString("Role") == "Student")
            {
                @await Html.PartialAsync("_StudentMenu.cshtml")
            }
        }



        <div class="jumbo"></div>

        <div class="container icons">
            <div class="big-icon"></div>
        </div>

        <div class="details">
            <h3>
                @{
                    string userId = "Anonymous";
                    if (Context.Session.GetString("LoginID") != null)
                    {
                        userId = Context.Session.GetString("LoginID");
                    }
                }
                @userId
            </h3>

            <p>
                @{
                    string role = "";
                    if (Context.Session.GetString("Role") != null)
                    {
                        role = Context.Session.GetString("Role");
                    }
                }
                @role
            </p>
            <p>
                @{

                    string datetime = Context.Session.GetString("DateTime");
                }
                You have logged in since @datetime

            </p>
        </div>

        @RenderBody()


    </main>

    <footer>
        <p style="padding-right:10px;">
            ABC E-Portfolio - &copy;@DateTime.Today.Year
            School of ICT, (A)ssociation of (B)usiness (C)lasses Polytechnic
        </p>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")</script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src='~/js/main.js'></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
</body>
</html>

