﻿<!-- A grey navbar that expands horizontally at medium device -->
<nav class="navbar navbar-expand-md bg-light navbar-light">
    <!-- The brand(or icon) of the navbar -->
    <a class="navbar-brand" href="~/Home/MainPage"
       style="font-size:20px; font-weight:bold; color:#3399FF;">
        @{
            string userId = "Anonymous";
            string userRole = "Unknown";
            string datetime = Context.Session.GetString("DateTime");
            if (Context.Session.GetString("Role") != null)
            {
                userRole = Context.Session.GetString("Role");
            }
            if (Context.Session.GetString("LoginID") != null)
            {
                userId = Context.Session.GetString("LoginID");
            }
        }
        @userId's Eportfolio
    </a>
    <!-- Toggle/collapsible Button, also known as hamburger button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#staffNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Links in the navbar, displayed as drop-down list when collapsed -->
    <div class="collapse navbar-collapse" id="staffNavbar">
        <!-- Links that are aligned to the left,
        mr-auto: right margin auto-adjusted -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="~/Lecturer/Suggestions">Improvements</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/Lecturer/ViewSuggestions">View Posts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/Lecturer/ViewMentee">View Profiles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/Lecturer/ChangePassword">Change Password</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/SkillSet/Index">Skill Set Administration</a>
            </li>
        </ul>
        <!-- Links that are aligned to the right,
        ml-auto: left margin auto-adjusted -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <!-- A link for logging out user -->
                <a class="nav-link" href="~/Home/LogOut">Log Out</a>
            </li>
        </ul>
    </div>
</nav>

