* {
    margin: 0;
    padding: 0;
}

.container {
    width: 450px;
    margin: 30px auto;
}

.signup, .login {
    width: 50%;
    float: left;
    height: 60px;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
}

    .signup:hover, .login:hover {
        color: #0e83cd;
    }

.signup-form, .login-form {
    padding: 40px;
    clear: both;
    width: 100%;
    box-sizing: border-box;
    height: 400px;
}

.input {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 25px;
    border: 2px solid #e9eaea;
    color: black;
    font-size: 14px;
    outline: none;
    transform: all 0.5s ease;
}

    .input:focus {
        border: 2px solid #34b3a0;
    }

.createbtn {
    width: 100%;
    background: #0e83cd;
    height: 60px;
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
}

    .createbtn:hover {
        color: black;
    }
