.container .product {
	height: 256px;
	display: flex;
	margin: 1em 0;
	border-radius: 5px;
	overflow: hidden;
	cursor: pointer;
	box-shadow: 0px 0px 21px 3px rgba(0, 0, 0, 0.15);
	transition: all .1s ease-in-out;
	border: 1px solid #333;
	margin-bottom: 36px;
}

.container .product:hover {
	box-shadow: 0px 0px 21px 3px rgba(0, 0, 0, 0.11);
}

.container .product .img-container {
	flex: 2;
}

.container .product .img-container img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.container .product .product-info {
	background: #fff;
	flex: 3;
}

.container .product .product-info .product-content {
	padding: .2em 0 .2em 1em;
}

.container .product .product-info .product-content h1 {
	font-size: 1.5em;
}

.container .product .product-info .product-content p {
	color: #636363;
	font-size: .9em;
	font-weight: bold;
	width: 90%;
}

.container .product .product-info .product-content ul li {
	color: #636363;
	font-size: .9em;
	margin-left: 0;
}

.container .product .product-info .product-content .buttons {
	padding-top: .4em;
}

.container .product .product-info .product-content .buttons .button {
	text-decoration: none;
	color: #5e5e5e;
	font-weight: bold;
	padding: .3em .65em;
	border-radius: 2.3px;
	transition: all .1s ease-in-out;
	float: right;
	margin-right: 5px;
}

}

.container .product .product-info .product-content .buttons #price {
	margin-left: 4em;
	color: #5e5e5e;
	font-weight: bold;
	border: 1px solid rgba(137, 137, 137, 0.2);
	background: rgba(137, 137, 137, 0.04);
}

.redirectbutton {
	float: right;
	background-color: grey;
}
