

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

main .jumbo {
    width: 100%;
    height: 400px;
    background: url('../images/Student Profile/Blk-22-Ngee-Ann.jpg') center center no-repeat;
    background-size: cover;
}

main .icons .big-icon {
    width: 180px;
    height: 180px;
    background: url('../images/Student Profile/face-id_1.gif') center top;
    background-size: 140%;
    border-radius: 50%;
    border: 2px solid white;
    margin-top: -90px;
    margin-left: auto;
    margin-right: auto;
}

main .details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 36px;
}

    main .details h3 {
        color: #212121;
        font-size: 28px;
        margin-top: 15px;
    }

    main .details p {
        color: #727272;
        margin-top: 0px;
    }

main .nav-wrapper {
    background-color:skyblue;
}

.button {
	border: none;
	background: none;
	display: inline-block;
	margin: 10px 10px;
	text-transform: uppercase;
	font-weight: 700;
	position: relative;
	float: right;
}

.button:hover {
	color: #0e83cd;
}