#wrapper {
	width: 100vh;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 600px;
}

#loadgrid .chat-des {
	float: left;
	width: 74%;
	margin-left: 0px;/* z-index: 999999999; */
	border-left: 1px #ddd solid;
	background: #fff;
}

#loadgrid .chat-des .tab-pane .title {
	width: 100%;
	float: left;
	padding: 0;
	background: #fff;
	border-bottom: 1px #ddd solid;
	height: 55px;
}

#loadgrid .chat-des .tab-pane .title h3 {
	float: left;
	font-size: 14px;
	margin: 0px;
	line-height: 25px;
	color: #282e35;
	padding: 15px 7px;
	font-weight: 600;
}

#loadgrid .chat-des .tab-pane .message-info {
	width: 100%;
	padding: 10px;
	float: left;
	min-height: 370px;
	max-height: 370px;
	overflow: auto;
	overflow-x: hidden;
	background: #fff;
}

#loadgrid .chat-des .tab-pane .message-info .full {
	width: 94%;
	margin: 5px 0;
	float: left;
}

#loadgrid .chat-des .tab-pane .message-info .full img {
	border-radius: 50px;
	width: 30px;
	margin-right: 5px;
	float: left;
	margin-top: 0px;
}

#loadgrid .chat-des .tab-pane .message-info .full.snd_row {
	width: 100%;
	margin: 5px 0;
	float: right;
}

#loadgrid .chat-des .tab-pane .message-info .full.snd_row img {
	float: right;
	margin-right: 0px;
	margin-left: 5px;
}

#loadgrid .chat-des .tab-pane .message-info .full .text {
	position: relative;
	line-height: 17px;
	color: #66696a;
	font-weight: normal;
	font-size: 11px;
	background-color: #f6f7fb;
	padding: 6px 15px;
	white-space: pre-line;
	word-wrap: break-word;
	text-align: left;
	max-width: 93%;
	box-sizing: border-box;
	float: left;
	display: inline-block;
	border-top-left-radius: 0px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
}

#loadgrid .chat-des .tab-pane .message-info .full.snd_row .text {
	position: relative;
	line-height: 17px;
	color: #000;
	font-weight: normal;
	font-size: 11px;
	background-color: #e4f6f6;
	padding: 6px 15px;
	white-space: pre-line;
	word-wrap: break-word;
	text-align: left;
	max-width: 93%;
	box-sizing: border-box;
	float: right;
	display: inline-block;
	border-top-left-radius: 25px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
}

#loadgrid .chat-des .tab-pane .message-info .full h5 {
	color: #66696a;
	font-size: 9px;
	display: inline-block;
	width: 91%;
	margin-bottom: 0px;
	float: left;
	margin-left: 38px;
}

#loadgrid .chat-des .tab-pane .message-info .full.snd_row h5 {
	color: #66696a;
	font-size: 9px;
	display: inline-block;
	width: 91%;
	margin-bottom: 0px;
	text-align: right;
	float: right;
	margin-right: 38px;
}

#loadgrid .chat-des .tab-pane .reply {
	float: left;
	width: 100%;
	border-top: 1px #ddd solid;
	padding: 0;
	background: #fff;
}

#loadgrid .chat-des .tab-pane .reply .reply-area {
	width: 86%;
	float: left;
}



#loadgrid .chat-des .tab-pane .reply .reply-area textarea {
	border-radius: 0px;
	box-shadow: none;
	margin-right: 0px;
	float: left;
	resize: none;
	border: 0px;
	font-size: 12px;
	height: 44px;
}

#loadgrid .chat-des .tab-pane .reply .reply-submit {
	border-radius: 0px;
	box-shadow: none;
	margin-left: 5px;
	float: right;
}

#loadgrid .chat-des .tab-pane .reply .reply-submit .btn {
	box-shadow: none;
	margin-left: 5px;
	float: right;
	padding: 7px;
	font-size: 13px;
	text-transform: uppercase;
	background: #3b4f6a;
	color: #777;
	margin-top: 5px;
	border: 1px #777 solid;
	border-radius: 40px;
	font-weight: 600;
	width: 40px;
	height: 40px;
	margin-bottom: 5px;
}