
body {
	background: url(https://static1.squarespace.com/static/56f30eb3e32140c1d647b088/t/577ee90ed1758ec82369ee6e/1467935009696/CRY-web-gradientbanner-light.gif?format=1500w) top center no-repeat;
	background-size: cover;
}

#box {
	width: 100vh;
	margin-left: auto;
	margin-right: auto;
	margin-top: 36px;
	margin-bottom: 36px;
	text-align: center;
	background: rgba(255,255,255,0.6);
	padding: 20px 50px;
	box-sizing: border-box;
	box-shadow: 0 3px 12px rgba(0,0,0,0.2);
	border-radius: 2%
}

h1 {
	font-size: 30px;
	color: #484548;
	font-weight: 100;
}

form p {
	position: relative;
}

.password {
	width: 100%;
	padding: 15px 12px;
	margin-top: 16px;
	margin-bottom: 5px;
	border: 1px solid #e5e5e5;
	border-bottom: 2px solid #ddd;
	background: rgba(255,255,255,0.7) !important;
	color: #555;
}

#valid {
	font-size: 12px;
	height: 15px;
	text-align: center;
}

#strong {
	height: 20px;
	font-size: 12px;
	text-transform: capitalize;
	background: rgba(205,205,205,1);
	border-radius: 5px;
	overflow: hidden
}

#strong span {
	display: block;
	box-shadow: 0 0 0 #fff inset;
	height: 100%;
	transition: all 0.8s
}

#strong .weak {
	box-shadow: 5em 0 0 #daa inset;
}

#strong .medium {
	box-shadow: 10em 0 0 #da6 inset
}

#strong .strong {
	box-shadow: 50em 0 0 #ada inset
}