

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

main .bio {
	margin-bottom: 36px;
}

main .bio .title h6 {
	color: #212121;
	font-size: 18px;
}

main .bio .content p {
	color: #727272;
}

main .achievements {
    margin-bottom: 36px;
}

    main .achievements .title h6 {
        color: #212121;
        font-size: 18px;
    }

main .skillsets {
    margin-bottom: 36px;
}

    main .skillsets .title h6 {
        color: #212121;
        font-size: 18px;
    }



