﻿@model Assignment_1.Models.Lecturer


@{
    ViewData["Title"] = "Create Profile";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Create Profile</title>

    <meta name="description" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel='stylesheet' href='~/css/main.css'>

    <link rel='stylesheet' href='~/css/create_profile.css'>

    <link rel='stylesheet' href='~/css/normalize.min.css'>

    <link rel='stylesheet' href='~/lib/bootstrap/dist/css/bootstrap-theme.css'>

    <link rel='stylesheet' href='~/lib/bootstrap/dist/css/bootstrap.min.css'>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">



</head>
<body>
    <main>
        <div class="jumbo"></div>

        <div class="container icons">
            <div class="big-icon"></div>
        </div>

        <form asp-action="LecturerCreation">
            <div class="wrapper">
                <div class="container">
                    <div class="signup-form">
                        <input asp-for="LecturerName" type="text" placeholder="Your Name" class="input" id="name">
                        <span asp-validation-for="LecturerName" class="text-danger"></span>

                        <br />

                        <input asp-for="EmailAddr" type="email" placeholder="Your Email Address" class="input" id="email">
                        <span asp-validation-for="EmailAddr" class="text-danger"></span>

                        <br />

                        <input asp-for="Description" type="text" placeholder="Professional Area Description" class="input" id="description">
                        <span asp-validation-for="Description" class="text-danger"></span>

                        <br />

                        <button type="submit" value="Create" class="button createbtn">Create Lecturer Profile</button>

                    </div>
                </div>
            </div>
        </form>

    </main>

    <footer></footer>

    <script src='~/lib/jquery/dist/jquery.min.js'></script>
    <script>window.jQuery || document.write('<script src="~/lib/jquery/dist/jquery.min.js"><\/script>')</script>

    <script src='~/lib/bootstrap/dist/js/bootstrap.min.js'></script>
    <script src='~/js/main.js'></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>

</body>
</html>
