﻿@model IEnumerable<Assignment_1.Models.Student>

     
@{
    ViewData["Title"] = "ViewMentee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <!-- Reference to Bootstrap CSS, JavaScript/JQuery files -->
    <link rel='stylesheet' href='~/lib/bootstrap/dist/css/bootstrap.min.css'>
    <script src='~/lib/jquery/dist/jquery.min.js'></script>
    <script src="~/js/popper.min.js"></script>
    <script src='~/lib/bootstrap/dist/js/bootstrap.min.js'></script>
</head>


@if (Model.ToList().Count > 0)
{
    <div class="container" style="background:antiquewhite; border:solid black">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-sm-4 col-sm-1">
                    <div class="card" style="max-width:100%; height:300px; margin-bottom:5%; margin-top:5%;">
                        <div class="card-body">
                            <h6 class="mw-100 text-center" style="font-size:150%; font:bold">@item.StudentID.ToString().  @item.StudentName</h6>
                            @{string imageFileName = item.StudentName + ".jpg";}<img src="~/images/SkillSets/@imageFileName" class="mx-auto d-block" style="width:50%; margin-top:3%" />
                            <td><a asp-action="Student_Dashboard" asp-controller="Lecturer" asp-route-id="@item.StudentID">Details</a></td>


                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

}
else
{
    <span style="color:red">No Students found!</span>
}
