﻿
@{
    ViewData["Title"] = "ViewSuggestions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<Assignment_1.Models.Suggestion>

<head>
    <!-- Reference to Bootstrap CSS, JavaScript/JQuery files -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src='~/lib/jquery/dist/jquery.min.js'></script>
    <script src="~/js/popper.min.js"></script>
    <script src='~/lib/bootstrap/dist/js/bootstrap.min.js'></script>
</head>

@if (Model.ToList().Count > 0)
{
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-sm-12 col-md-4 d-flex align-items-stretch">
                    <div class="card" style="min-width:200%; margin-top:10%;">
                       
                        <div class="card-body">
                            
                            <p class="card-subtitle text-muted text-truncate" style="font-size:80%">@item.Description</p>
                            <p></p>
                            
                            <p style="font-size:90%">Project ID: @item.SuggestionID.ToString()</p>
                            
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
else
{
    <span style="color:red">No record found! </span>
}


