﻿
@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>



    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>ABC E-Portfolio</title>

    <meta name="description" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel='stylesheet' href='~/css/main.css'>

    <link rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">

    <link rel='stylesheet' href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/flatly/bootstrap.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <!-- Reference to customized styling for this website -->
    <link rel="stylesheet" type="text/css" href="~/css/Site.css">


</head>
<body>
    <main>
        <div class="jumbo"></div>

        <div class="container icons">
            <div class="big-icon"></div>
        </div>

        <!-- 1st row -->
        <div class="container">
            <!-- Flexbox for staff login -->
            <div>
                <form method="post" action="~/Home/Login">
                    <fieldset class="loginFieldset">
                        <legend>Login</legend>
                        <label for="txtLoginID">Login ID:</label>
                        <input type="email" name="txtLoginID"
                               id="txtLoginID" required /><br />
                        <label for="txtPassword">Password:</label>
                        <input type="password" name="txtPassword"
                               id="txtPassword" style="width:100px"
                               required /><br />
                        <input type="submit" id="btnLogin"
                               class="myButton" value="Login" /><br />

                        <a asp-action="Create" class="myButton">Click Here to Sign Up as Student!</a>
                        <a asp-action="LecturerCreation" class="myButton">Click Here to Sign Up as Lecturer!</a>

                        <br />
                        <span style="color:red;">@TempData["Message"]</span>
                    </fieldset>
                </form>

            </div>
        </div>
    </main>
</body>
</html>