﻿@model Assignment_1.Models.Student

@{
    ViewData["Title"] = "Edit Student Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="PageTitle">Edit Student Details</h4>
<hr />
<form asp-action="Edit">
    <fieldset class="FormContent">
        <div class="form-group row">
            <label asp-for="StudentID" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="StudentID" readonly class="form-control-plaintext" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="StudentName" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="StudentName" class="form-control" id="title" />
                <span asp-validation-for="StudentName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="StudentCourse" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="StudentCourse" class="form-control" id="description" />
                <span asp-validation-for="StudentCourse" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="StudentDescription" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="StudentDescription" class="form-control" id="description" />
                <span asp-validation-for="StudentDescription" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="StudentAchievement" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="StudentAchievement" class="form-control" id="description" />
                <span asp-validation-for="StudentAchievement" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="StudentExternalLink" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="StudentExternalLink" class="form-control" id="description" />
                <span asp-validation-for="StudentExternalLink" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="StudentEmailAddr" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="StudentEmailAddr" class="form-control" id="description" />
                <span asp-validation-for="StudentEmailAddr" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="StudentPassword" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="StudentPassword" class="form-control" id="description" />
                <span asp-validation-for="StudentPassword" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row col-sm-9 offset-sm-3">
            <a asp-action="UploadPhoto" asp-route-id="@Model.StudentID">Upload Photo</a>
        </div>
        <div class="form-group row col-sm-9 offset-sm-3">
            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>
    </fieldset>
</form>