﻿@model IEnumerable<Assignment_1.Models.Student>

@{
    ViewData["Title"] = "Student Dashboard";

    Layout = "~/Views/Shared/_Layout.cshtml";

}

<a asp-action="Student_DashBoard"></a>

<html>
<head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Student Dashboard</title>

    <meta name="description" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel='stylesheet' href='~/css/student_dashboard.css'>
</head>
<body>
    <main>
        @foreach (var item in Model)
        {
        <div class="details">
            <p>
                @item.StudentEmailAddr
            </p>

            <p>
                @item.StudentCourse

            </p>
        </div>

            <div class="container bio">
                <div class="title">
                    <h6>About Me</h6>
                </div>

                <div class="content">
                    <p>
                        @item.StudentDescription
                    </p>
                    <p>External Link: @item.StudentExternalLink</p>
                </div>
            </div>

            <div class="container achievements">
                <div class="title">
                    <h6>Achievements</h6>
                </div>

                <div class="row">
                    <div class="col s12 m6">
                        <div class="card red">
                            <div class="card-content white-text"><span>@item.StudentAchievement</span></div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </main>
</body>
</html>
