﻿@model IEnumerable<Assignment_1.Models.SkillSet>

    <head>
        <!-- Reference to Bootstrap CSS, JavaScript/JQuery files -->
        <link rel='stylesheet' href='~/lib/bootstrap/dist/css/bootstrap.min.css'>
        <script src='~/lib/jquery/dist/jquery.min.js'></script>
        <script src="~/js/popper.min.js"></script>
        <script src='~/lib/bootstrap/dist/js/bootstrap.min.js'></script>
    </head>

@if (Model.ToList().Count > 0)
{
    <div class="container" style="background:antiquewhite; border:solid black">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-sm-4 col-sm-1">
                    <div class="card" style="max-width:100%; height:300px; margin-bottom:5%; margin-top:5%;">
                        <div class="card-body">
                            <h6 class="mw-100 text-center" style="font-size:150%; font:bold">@item.SkillSetID.ToString().  @item.SkillSetName</h6>
                            @*@{string imageFileName = item.SkillSetName + ".jpg";}<img src="~/images/SkillSets/@imageFileName" class="mx-auto d-block" style="width:50%; margin-top:3%" />*@
                            <div class="text-center">
                                <p>
                                    <div href="#" class="btn btn-outline-primary" style="font-size:80%; background-color:greenyellow"><a asp-action="Edit" asp-controller="SkillSet" asp-route-id="@item.SkillSetID">Edit</a></div> |
                                    <div href="#" class="btn btn-outline-danger" style="font-size:80%; background-color:red"><a asp-action="Delete" asp-controller="SkillSet" asp-route-id="@item.SkillSetID">Delete</a></div> |
                                    <div href="#" class="btn btn-outline-danger" style="font-size:80%; background-color:lightblue"><a asp-action="Search" asp-controller="SkillSet" asp-route-id="@item.SkillSetID">Search</a></div>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
else
{
    <span style="color:red">No SkillSet record found!</span>
}


