﻿@model Assignment_1.Models.SkillSet

@{
    ViewData["Title"] = "Delete SkillSet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="PageTitle">Delete SkillSet</h4>
<hr />

<form asp-action="Delete">
    <fieldset class="FormContent">
        <legend>Are you sure you want to delete this record?</legend>
        <div class="form-group row">
            <label asp-for="SkillSetID" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="SkillSetID" readonly class="form-control-plaintext" />
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="SkillSetName" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="SkillSetName" readonly class="form-control-plaintext" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-9 offset-sm-3">
                <input type="submit" value="Delete" class="btn btn-primary" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-9 offset-sm-3">
                <span style="color:red;">@ViewData["Message"]</span>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </fieldset>
</form>
