﻿@model Assignment_1.Models.SkillSet

@{
    ViewData["Title"] = "Edit SkillSet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <script src="~/js/SkillSet.js"></script>
</head>

<h4 class="PageTitle">Edit SkillSet Record</h4>
<hr />

<form asp-action="Edit">
    <fieldset class="FormContent">
        <div class="form-group row">
            <label asp-for="SkillSetID" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="SkillSetID" readonly class="form-control-plaintext" />
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="SkillSetName" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="SkillSetName" class="form-control" id="name" />
                <span asp-validation-for="SkillSetName" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-9 offset-sm-3">
                <input type="submit" value="Save Changes" class="btn btn-primary" />
                <button type="button" class="btn btn-secondary" onclick="resetSkillSetForm()">Reset</button>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-9 offset-sm-3">
                <span style="color:red;">@ViewData["Message"]</span>
            </div>
        </div>

        <div>
            <p>
                <a asp-action="Index">Back to List</a>
            </p>
        </div>
    </fieldset>
</form>

