﻿@model IEnumerable<Assignment_1.Models.SkillSet>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="PageTitle">View SkillSets</h4>
<hr />

<p>
   <a asp-action="Create">Create New SkillSet</a>
</p>
<br />

<!--Add a partial view to display a list of skillset records in a tabular format.-->
<partial name="~/Views/SkillSet/_ViewSkillSet.cshtml" model="@Model" />
