﻿@model Assignment_1.Models.StudentSkillSetsViewModel

@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="PageTitle">View Student Skills</h3>
<br />

<div class="table-responsive">
    <table id="viewBranch" class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>SkillSetID</th>
                <th>SkillSetName</th>
                <th>StudentID</th>
                <th>StudentName</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (ViewData["selectedSkillID"].ToString() != "")
            {
                <h5>Students with SkillSet @ViewData["selectedSkillID"].ToString()</h5>
                @foreach (var item in Model.studentskillsList)
                {
                    string selectedRow = "";
                    if (ViewData["selectedSkillID"].ToString() == item.SkillSetID.ToString())
                    {
                        // Highlight the selected row
                        selectedRow = "class='table-primary'";
                    }
                    <tr @Html.Raw(selectedRow)>
                        <td>@item.SkillSetID.ToString()</td>
                        <td>@item.SkillSetName</td>
                        <td>@item.StudentID</td>
                        <td>@item.StudentName</td>
                        <td><a asp-action="StudentDetails" asp-controller="SkillSet" asp-route-id="@item.StudentID">Details</a></td>
                    </tr>
                }
            }
            else
            {
                <p>There are no students using this skillset!</p>
            }
        </tbody>
    </table>
</div>
<div>
    <p>
        <a asp-action="Index">Back to List</a>
    </p>
</div>

