﻿@model Assignment_1.Models.Student

@{
    ViewData["Title"] = "Student Dashboard";

    Layout = "~/Views/Shared/_Layout.cshtml";

}

<html>
<head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Student Dashboard</title>

    <meta name="description" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel='stylesheet' href='~/css/student_dashboard.css'>
</head>

<body>
    <a asp-action="StudentDetails"></a>
    <fieldset class="FormContent">
        <div class="form-group row">
            <label asp-for="StudentID" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 form-control-plaintext"> @Html.Display("StudentID")</div>
        </div>
        <div class="form-group row">
            <label asp-for="StudentName" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 form-control-plaintext"> @Html.Display("StudentName")</div>
        </div>
        @*<div class="form-group row">
            <label asp-for="StudentPhoto" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <img src="~/images/Student/@Model.StudentPhoto" style="width:15vw" />
            </div>
        </div>*@
        <div class="form-group row">
            <label asp-for="StudentCourse" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 form-control-plaintext"> @Html.Display("StudentCourse")</div>
        </div>
        <div class="form-group row">
            <label asp-for="StudentDescription" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 form-control-plaintext"> @Html.Display("StudentDescription")</div>
        </div>
        <div class="form-group row">
            <label asp-for="StudentAchievement" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 form-control-plaintext"> @Html.Display("StudentAchievement")</div>
        </div>
        <div class="form-group row">
            <label asp-for="StudentEmailAddr" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 form-control-plaintext"> @Html.Display("StudentEmailAddr")</div>
        </div>
        <div class="form-group row">
            <label asp-for="StudentExternalLink" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 form-control-plaintext"> @Html.Display("StudentExternalLink")</div>
        </div>

    </fieldset>
</body>
</html>
